ion-content{

    .voltar{
        display: flex;
        align-items: center;
        ion-icon{
            color: #298729;
            font-size: 2em;
            margin: 20px;
            margin-right: 5px;
        }
    }

    .header{
        display: flex;
        margin: 40px 20px;
        margin-top: 0;
        align-items: center;
        gap: 10px;
        color: #0C6351;

        .icon{
            display: flex;
            background: #0C6351;
            border-radius: 20px;
            width: 133px;
            height: 78px;
            padding: 20px;
        }

        h1{
            font-size: 1.8em;
            font-weight: 600;
            margin: 0;
        }
        h2{
            font-size: .8em;
            font-weight: 400;
            margin: 0;
            margin-top: 5px;
        }
    }

    form{
        ion-label{
            margin-left: 45px;
            font-size: .7em;
            font-weight: 700;
            opacity: .8;
        }
        ion-input{
            display: flex;
            flex-direction: row-reverse;
            align-items: center;
            border: 1px solid #298729;
            border-radius: 5px;
            margin: 0 20px;      
            width: unset;
            margin-bottom: .8em;
            --padding-start: 10px;
            background: #29872921;

            ion-icon{
                font-size: 1.8em;
                padding: 0 10px;
                color: #298729;
            }
        }
        ion-button{
            margin: 45px 20px;
            border-radius: 10px;
            width: -webkit-fill-available;

            &::part(native){
                border-radius: 5px;
                height: 55px;
            }
            span{
                width: 100%;
                display: flex;
                justify-content: space-between;
            }
        }

        .cep-state{
            display: flex;
        }

        .campo-ind{
            border: 1.2px solid #0C6351;
            margin: 20px;
            border-radius: 15px;
            padding: 15px;
            text-align: justify;
            color: #0C6351;
            p{
                margin: 0;
                font-size: .9em;
                font-weight: 500;
            }
            ion-toggle{
                margin-top: 10px;
                width: 100%;
                font-weight: 500;
            }
        }
    }
}