<ion-content [fullscreen]="true">
  <div class="background">
    <div class="content">
      <div class="logo">
        <img src="assets/logos/logo-b.png" alt="">
      </div>
      <div class="campo-interacao">
        <h1>Bem vindo,</h1>
        <div class="interacao">
          <span>Já é nosso parceiro?</span>
          <ion-button routerLink="/login">
            Sim, entrar na minha conta
          </ion-button>
        </div>
        <div class="interacao">
          <span>É sua primeira vez aqui?</span>
          <ion-button>
            Vamos nessa, cadastrar-se
          </ion-button>
        </div>
      </div>
    </div>
  </div>
</ion-content>
