<ion-content [fullscreen]="true">
  <div class="topo">
    <div class="img">
      <img src="assets\imgs-back\perfil.png" alt="">
    </div>

    <div class="info">
      <div class="desde">Desde 15/07/2002</div>
      <div class="tipo">AGRICULTOR</div>
    </div>

  </div>

  <div class="menu">
    <div class="op" routerLink="/login">
      <div class="d">
        <ion-icon name="log-out-outline"></ion-icon>
        SAIR
      </div>
      <ion-icon class="seta" name="chevron-forward-outline"></ion-icon>
    </div>
  </div>
</ion-content>
