ion-content{
    --background: #F4FFFC;

    &::part(scroll){
        overflow-y: hidden;
    }

    .voltar{
        display: flex;
        align-items: center;
        ion-icon{
            color: #298729;
            font-size: 2em;
            margin: 20px;
            margin-right: 5px;
        }
    }

    .campo-logo{
        margin: 40px auto 80px auto;
        display: flex;
        justify-content: center;
        
        img{
            width: 40%;
        }
    }

    .campo-inputs{
        ion-label{
            margin-left: 45px;
            font-size: .7em;
            font-weight: 700;
            opacity: .8;
        }
        ion-input{
            display: flex;
            flex-direction: row-reverse;
            align-items: center;
            border: 1px solid #298729;
            border-radius: 5px;
            margin: 0 30px;      
            width: unset;
            margin-bottom: .8em;
            --padding-start: 10px;
            background: #29872921;

            ion-icon{
                font-size: 1.8em;
                padding: 0 10px;
                color: #298729;
            }
        }
        ion-button{
            margin: 60px 30px;
            border-radius: 10px;
            width: -webkit-fill-available;

            &::part(native){
                border-radius: 5px;
                height: 55px;
            }
            span{
                width: 100%;
                display: flex;
                justify-content: space-between;
            }
        }
    }

    .footer{
        position: absolute;
        bottom: 0;
        display: flex;
        width: 100%;
        z-index: -1;


        img{
            width: 100%;
        }
    }
}
