ion-content{
    --background: #F4FFFC;
    
    .header{
        display: flex;
        align-items: center;
        gap: 10px;
        color: #0C6351;
        font-weight: 500;
        margin: 20px 10px;       
        
        h1{
            font-size: 1.4em;
            margin: 0;
        }
    }


    .items{
        background: #fff;
        margin: 10px;
        border-radius: 12px;
        box-shadow: 0px 0px 13px -5px #0000006b;
        padding: 0 20px;
        display: flex;
        flex-direction: column;
        gap: 25px;
        max-height: 50%;
        overflow-y: auto;

        .produto{
            display: flex;
            justify-content: space-between;
            align-items: center;
            border-bottom: 1px solid #29872952;
            padding: 20px 0;

            &:nth-last-child(1){
                border-bottom: 0;
            }

            .img-qtd{
                display: flex;
                align-items: center;
                gap: 10px;
                
                .img{
                    display: flex;
                    overflow: hidden;
                    border-radius: 10px;
                }
    
                .nom-qtd{
                    gap: 10px;
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    justify-content: space-between;
                    color: #0C6351;

                    .qtd{
                        display: flex;
                        gap: 10px;
                        background: #C7E3C7;
                        padding: 2px 8px;
                        border-radius: 10px;
                    }
                }
            }

            .campo-valor{
                color: #0C6351;
                text-align: center;
                .title{
                    font-weight: 600;
                    font-size: .6em;
                }
                .valor{
                    font-weight: 600;
                }
            }

            .delete{
                .botao{
                    display: flex;
                }
            }
        }
    }


    .detalhamento{
        background: #fff;
        margin: 10px;
        margin-top: 30px;
        border-radius: 12px;
        box-shadow: 0px 0px 13px -5px #0000006b;
        padding: 20px 20px;
        display: flex;
        flex-direction: column;
        gap: 25px;

        .dado{
            display: flex;
            align-items: center;
            justify-content: space-between;

            font-size: .9em;
            font-weight: 600;
            color: #0C6351;

            .title{
                opacity: .6;
                font-weight: 500;
            }

            .valor{
                display: flex;
                align-items: center;
            }
        }
    }

    ion-button{
        margin: 20px 10px;
        border-radius: 10px;
        width: -webkit-fill-available;
        height: 55px;

        &::part(native){
            border-radius: 5px;
        }
        span{
            width: 100%;
            display: flex;
            justify-content: space-between;
        }
    }
}

ion-modal{
    &::part(content){
        height: 45%;
        position: absolute;
        bottom: 0;
        border-radius: 25px 25px 0 0;
    }

    ion-content{

        &::part(scroll){
            overflow-y: hidden;
        }

        .bar{
            width: 20%;
            height: 4px;
            border-radius: 10px;
            background: #C7E3C7;
            margin: 10px auto 20px auto;
        }

        span{
            font-size: 1em;
            font-weight: 500;
            margin: 30px;
            color: #0C6351;
        }

        ion-segment{
            margin: 0 30px;
            width: unset;
            margin-top: 10px;
            color: #0C6351;
        }

        .input{
            display: flex;
            align-items: center;
            padding: 0 80px;
            margin: 50px 0;

            .t{
                display: flex;
                align-items: flex-end;

                span{
                    margin: 0;
                    margin-right: 10px;
                }
            }

            ion-input{
                text-align: center;
                border-bottom: 1px solid #0c63523b;
                margin-left: 10px;
            }


            ion-icon{
                font-size: 3em;
            }
        }

        ion-button{
            margin: 8px 15px;
            border-radius: 10px;
            width: -webkit-fill-available;
            height: 40px;

            span{
                color: #fff;
                margin: 0;
            }
        }
    }
}