<ion-content [fullscreen]="true">
  <div class="header">
    <img src="assets/icons/cesta.svg" alt="">
    <h1>CESTA DE COMPRAS</h1>
  </div>

  <div class="detalhamento">
    <div class="dado">
      <div class="title">QUANTIDADE TOTAL</div>
      <div class="valor">2</div>
    </div>
    <div class="dado">
      <div class="title">VALOR TOTAL</div>
      <div class="valor">R$ 12,00</div>
    </div>
  </div>

  <ion-button>
    <span>
      FECHAR PEDIDO
      <ion-icon name="arrow-forward-outline"></ion-icon>
    </span>
  </ion-button>

</ion-content>
