<ion-content [fullscreen]="true">
  <div routerLink="/gerar-venda" class="voltar">
    <ion-icon name="arrow-back-outline"></ion-icon>
    Voltar
  </div>

  <div class="items">
    <div class="produto">
      <div class="img-qtd">
        <div class="img">
          <img src="assets/imgs-back/produto.png" alt="">
        </div>
        <div class="nom-qtd">
          <span class="nome">Tomates</span>
          <div id="open-modal" class="qtd">
            5
            <img src="assets/icons/edit-v.svg" alt="">
          </div>
        </div>
      </div>
      <div class="campo-valor">
        <div class="title">VALOR</div>
        <span class="valor">R$ 20,00</span>
      </div>

      <div class="delete">
        <div class="botao">
          <img src="assets/icons/delete.svg" alt="">
        </div>
      </div>
    </div>

    <div class="produto">
      <div class="img-qtd">
        <div class="img">
          <img src="assets/imgs-back/produto.png" alt="">
        </div>
        <div class="nom-qtd">
          <span class="nome">Tomates</span>
          <div id="open-modal" class="qtd">
            5
            <img src="assets/icons/edit-v.svg" alt="">
          </div>
        </div>
      </div>
      <div class="campo-valor">
        <div class="title">VALOR</div>
        <span class="valor">R$ 20,00</span>
      </div>

      <div class="delete">
        <div class="botao">
          <img src="assets/icons/delete.svg" alt="">
        </div>
      </div>
    </div>
  </div>

  <div class="detalhamento">
    <div class="dado">
      <div class="title">QUANTIDADE TOTAL</div>
      <div class="valor">2</div>
    </div>
    <div class="dado">
      <div class="title">VALOR TOTAL</div>
      <div class="valor">R$ 12,00</div>
    </div>
  </div>

  <ion-button routerLink="/gerar-venda/confirmar-venda/qr-code-venda">
    <span>
      CONFIRMAR
      <ion-icon name="arrow-forward-outline"></ion-icon>
    </span>
  </ion-button>

  
</ion-content>

<ion-modal trigger="open-modal" class="modal-forma">
  <ng-template>
    <ion-content>
      <div class="bar"></div>
      <span>De qual forma deseja pedir?</span>
      <ion-segment [(ngModel)]="formaComp" mode="ios" value="default">
        <ion-segment-button value="und">
          <ion-label>Unidade</ion-label>
        </ion-segment-button>
        <ion-segment-button value="kg">
          <ion-label>Peso</ion-label>
        </ion-segment-button>
      </ion-segment>
      <div *ngIf="this.formaComp === 'und'" class="input">
        <ion-icon name="remove-outline"></ion-icon>
        <ion-input type="number">
        </ion-input>
        <div class="t">
          <span>und.</span>
        </div>
        <ion-icon name="add-outline"></ion-icon>
      </div>
      <div *ngIf="this.formaComp === 'kg'" class="input">
        <ion-input type="number">
        </ion-input>
        <div class="t">
          <span>kg</span>
        </div>
      </div>
      <ion-button>
        <span>
          SELECIONAR
          <ion-icon name="create-outline"></ion-icon>
        </span>
      </ion-button>
      <ion-button (click)="cancel()" fill="outline">
        VOLTAR 
      </ion-button>
    </ion-content>
  </ng-template>
</ion-modal>