ion-content{
    --background: #F4FFFC;

    .header{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px 20px;    
        background: #fff;
        border-radius: 0 0 10px 10px;
        margin: 0 10px;
        box-shadow: 0px 0px 13px -5px #0000006b;

        .logo{
            img{
                width: 3.3em;
            }
        }

        .per-not{
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 20px;

            ion-icon{
                font-size: 1.5em;
                color: #0C6351;
            }

            .perfil{
                display: flex;
                border-radius: 12px;
                overflow: hidden;
            }
        }
    }

    .acoes-rapidas{
        padding: 30px 10px;
        
        .title{
            display: flex;
            align-items: center;
            gap: 10px;
            color: #0C6351;
            font-size: 1.5em;

            span{
                font-size: .6em;
                font-weight: 600;
            }
        }

        .botoes{
            display: flex;
            gap: 10px;
            overflow-y: auto;
            margin-top: 14px;

            &::-webkit-scrollbar {
                display: none;
            }

            .botao{
                background: #0C6351;
                border-radius: 12px;
                box-shadow: 0px 0px 13px -5px #0000006b;
                min-width: 100px;
                height: 100px;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                padding: 15px;
                color: #fff;

                img{
                    width: 25%;
                }

                span{
                    font-size: .6em;
                }
            }
        }
    }

    .barra-pesquisa{
        ion-searchbar{
            padding-top: 0px;
            --background: #fff;
            --border-radius: 5px;
            --box-shadow: 0px 0px 13px -5px #0000006b;

            ion-icon{
                color: #0C6351;
            }
        }
    }

    .title-sec{
        display: flex;
        align-items: center;
        font-weight: 600;
        font-size: .8em;
        color: #0C6351;
        gap: 5px;
        margin-bottom: 12px;

        ion-icon{
            font-size: 1.6em;
        }
    }

    .prod-categotia{
        margin: 30px 10px;

        .categorias{
            display: flex;
            justify-content: space-between;
            padding: 5px;
            gap: 10px;

            .categoria{
                display: flex;
                justify-content: space-between;
                width: 50%;
                
                background: #0C6351;
                padding: 15px 10px;
                border-radius: 12px;
                box-shadow: 0px 0px 13px -5px #0000006b;

                font-size: .8em;
                font-weight: 600;
                color: #fff;
                
                .icon{
                    display: flex;
                    border-radius: 10px;
                    overflow: hidden;

                    img{
                        width: 35px;
                        height: 35px;
                    }
                }

                span{
                    font-size: .8em;
                    font-weight: 500;
                }
            }
        }
    }
    
    .mais-prox{
        margin: 30px 10px;

        .vendedores{
            display: flex;
            overflow-y: auto;
            justify-content: space-between;
            padding: 5px;
            gap: 10px;

            &::-webkit-scrollbar {
                display: none;
            }
            
            .vendedor{
                display: flex;
                align-items: center;
                width: 50%;
                gap: 10px;
                
                background: #fff;
                padding: 8px;
                border-radius: 12px;
                box-shadow: 0px 0px 13px -5px #0000006b;

                font-size: .8em;
                font-weight: 500;
                color: #0C6351;
                
                .img{
                    display: flex;
                    border-radius: 10px;
                    overflow: hidden;
                }
            }
        }
    }

    .margin-b{
      margin-bottom: 100px;
    }
    
    .colhi-dia{
        margin: 30px 10px;

        .produtos{
            display: flex;
            overflow-y: auto;
            gap: 20px;

            &::-webkit-scrollbar {
                display: none;
            }

            .produto{
                display: flex;
                align-items: center;

                .img{
                    display: flex;
                    width: 75px;
                    height: 75px;
                    overflow: hidden;
                    z-index: 10;
                    border-radius: 10px;
                    box-shadow: 0px 0px 13px -5px #0000006b;
                }

                .detalhe-prod{
                    display: flex;
                    background: #fff;
                    border-radius: 0 10px 10px 0;
                    box-shadow: 0px 0px 13px -5px #0000006b;
                    padding: 4px 12px;
                    gap: 20px;

                    .nom-vende{
                        display: flex;
                        flex-direction: column;
                        gap: 4px;

                        .nom-prod{
                            font-weight: 400;
                            color: #0C6351;
                            font-size: 1em;
                        }

                        .vendedor{
                            display: flex;
                            align-items: center;
                            gap: 5px;
                            padding: 5px;
                            background: #C7E3C7;
                            border-radius: 30px;

                            font-size: .5em;
                            font-weight: 500;
                            color: #0C6351;

                            .img-per{
                                display: flex;
                                overflow: hidden;
                                border-radius: 50px;

                                width: 20px;
                                height: 20px;
                            }

                            span{
                                width: max-content;
                            }
                        }
                    }

                    .valor{
                        text-align: end;
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        color: #0C6351;
                        font-weight: 300;

                        span{
                            width: max-content;
                        }

                        p{
                            font-weight: 600;
                            font-size: .6em;
                            margin: 0;
                        }
                    }
                }
            }
        }
    }
}
