<ion-content [fullscreen]="true">
  <div class="header">
    <div class="logo">
      <img src="assets/logos/logo-n.png" alt="">
    </div>
    <div class="per-not">
      <ion-icon name="notifications-outline"></ion-icon>
      <div class="perfil">
        <img src="assets/imgs-back/perfil.png" alt="">
      </div>
    </div>
  </div>
  <div class="acoes-rapidas">
    <div class="title"><ion-icon name="grid-outline"></ion-icon><span>AÇÕES RÁPIDAS</span></div>
    <div class="botoes">
      <div class="botao">
        <img src="assets/icons/pix-b.svg" alt="">
        <span>GERAR VENDA</span>
      </div>
      <div routerLink="/cadastro-produto" class="botao">
        <img src="assets/icons/cadastrar.svg" alt="">
        <span>CADASTRAR PRODUTO</span>
      </div>
      <div routerLink="/editar-produto" class="botao">
        <img src="assets/icons/editar.svg" alt="">
        <span>EDITAR PRODUTO</span>
      </div>
      <div class="botao">
        <img src="assets/icons/historico.svg" alt="">
        <span>HISTÓRICO DE VENDAS</span>
      </div>
      <div class="botao">
        <img src="assets/icons/parceria.svg" alt="">
        <span>PARCEIROS</span>
      </div>
    </div>
  </div>
  <div class="barra-pesquisa">
    <ion-searchbar placeholder="Pesquisar"></ion-searchbar>
  </div>

  <div class="prod-categotia">
    <div class="title-sec"><ion-icon name="cube-outline"></ion-icon>CATEGORIAS DOS PRODUTOS</div>
    <div class="categorias">
      <div class="categoria">
        <div class="icon">
          <img src="assets/icons/graos.svg" alt="">
        </div>
        <span>
          GRÃOS
        </span>
      </div>
      <div class="categoria">
        <div class="icon">
          <img src="assets/icons/legumes.svg" alt="">
        </div>
        <span>
          LEGUMES
        </span>
      </div>
      <div class="categoria">
        <div class="icon">
          <img src="assets/icons/frutas.svg" alt="">
        </div>
        <span>
          FRUTAS
        </span>
      </div>
    </div>
  </div>

  <div class="mais-prox">
    <div class="title-sec"><ion-icon name="location-outline"></ion-icon>VENDEDORES MAIS PRÓXIMOS</div>

    <div class="vendedores">
      <div class="vendedor">
        <div class="img">
          <img src="assets/imgs-back/perfil.png" alt="">
        </div>
        <span>Thiago Marcelo</span>
      </div>
      <div class="vendedor">
        <div class="img">
          <img src="assets/imgs-back/perfil.png" alt="">
        </div>
        <span>Thiago Marcelo</span>
      </div>
    </div>
  </div>

  <div class="colhi-dia">
    <div class="title-sec"><ion-icon name="today-outline"></ion-icon>COLHIDOS HOJE</div>

    <div class="produtos">
      <div class="produto">
        <div class="img">
          <img src="assets/imgs-back/produto.png" alt="">
        </div>
        <div class="detalhe-prod">
          <div class="nom-vende">
            <div class="nom-prod">
                Tomate
            </div>
            <div class="vendedor">
              <div class="img-per">
                <img src="assets/imgs-back/perfil.png" alt="">
              </div>
                <span>Thiago Marcelo</span>
            </div>
          </div>
          <div class="valor">
            <span>R$ 10,00</span>
            <p>por kg</p>
          </div>
        </div>
      </div>
      <div class="produto">
        <div class="img">
          <img src="assets/imgs-back/produto.png" alt="">
        </div>
        <div class="detalhe-prod">
          <div class="nom-vende">
            <div class="nom-prod">
                Tomate
            </div>
            <div class="vendedor">
              <div class="img-per">
                <img src="assets/imgs-back/perfil.png" alt="">
              </div>
                <span>Thiago Marcelo</span>
            </div>
          </div>
          <div class="valor">
            <span>R$ 10,00</span>
            <p>por kg</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="colhi-dia">
    <div class="title-sec"><ion-icon name="pricetag-outline"></ion-icon>VOCÊ JÁ COMPROU</div>

    <div class="produtos">
      <div class="produto">
        <div class="img">
          <img src="assets/imgs-back/produto.png" alt="">
        </div>
        <div class="detalhe-prod">
          <div class="nom-vende">
            <div class="nom-prod">
                Tomate
            </div>
            <div class="vendedor">
              <div class="img-per">
                <img src="assets/imgs-back/perfil.png" alt="">
              </div>
                <span>Thiago Marcelo</span>
            </div>
          </div>
          <div class="valor">
            <span>R$ 10,00</span>
            <p>por kg</p>
          </div>
        </div>
      </div>
      <div class="produto">
        <div class="img">
          <img src="assets/imgs-back/produto.png" alt="">
        </div>
        <div class="detalhe-prod">
          <div class="nom-vende">
            <div class="nom-prod">
                Tomate
            </div>
            <div class="vendedor">
              <div class="img-per">
                <img src="assets/imgs-back/perfil.png" alt="">
              </div>
                <span>Thiago Marcelo</span>
            </div>
          </div>
          <div class="valor">
            <span>R$ 10,00</span>
            <p>por kg</p>
          </div>
        </div>
      </div>
    </div>
  </div>

</ion-content>